<!DOCTYPE html>
<html>
  <head>
    <title>react IP display app</title>
  </head>
  <body>
    <div id = "main"><%- html %></div>
    <script type="text/javascript" charset="utf-8">
      window.__REDUX_STATE__ = '<%= reduxState %>';
    </script>
   <script src="http:\\localhost:3000\dist\bundle.js"></script>
  </body>
</html>

